<footer class="v7-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/" title="Homepage Volotea" class="v7-footer__logo">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-logo-text"></use>
                    </svg>
                </a>
            </div>

            <div class="v7-footer-links || col-xs-12 | col-sm-6 col-sm-right | col-md-7 | col-lg-8 col-lg-offset-1">
                <div class="row">
                    <nav class="col-xs-12 | col-md-3" itemscope="" itemtype="https://schema.org/Reservation">
                        <ul class="v7-list-link">
                            <li class="v7-list-link__title">
                                <span itemprop="name mainEntityOfPage">VUELOS</span>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/ofertas-vuelos/" rel="noopener noreferrer" title="Ofertas vuelos" target=""><span itemprop="name reservationFor">Ofertas vuelos</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/estado-de-tu-vuelo/" rel="noopener noreferrer" title="Estado de tu vuelo"><span itemprop="name reservationFor">Estado de tu vuelo</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/vuelos-directos/" rel="noopener noreferrer" title="Vuelos Directos"><span itemprop="name reservationFor">Vuelos Directos</span></a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/agencias/" rel="noopener noreferrer" title="Agencias de Viajes"><span itemprop="name reservationFor">Agencias de Viajes</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="https://groups.volotea.com/index.php" rel="noopener noreferrer" title="Grupos" target="_blank"><span itemprop="name reservationFor">Grupos</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>
    <i class="v7-footer__vichy">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-vichy-corner"></use>
        </svg>
    </i>
</footer>