<footer class="v7-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/" title="Homepage Volotea" class="v7-footer__logo">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-logo-text"></use>
                    </svg>
                </a>
            </div>

            <div class="v7-footer-links || col-xs-12 | col-sm-6 col-sm-right | col-md-7 | col-lg-8 col-lg-offset-1">
                <div class="row">
                    <nav class="col-xs-12 | col-md-3" itemscope="" itemtype="https://schema.org/Reservation">
                        <ul class="v7-list-link">
                            <li class="v7-list-link__title">
                                <span itemprop="name mainEntityOfPage">VUELOS</span>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/ofertas-vuelos/" title="Ofertas vuelos" target=""><span>Ofertas vuelos</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/estado-de-tu-vuelo/" title="Estado de tu vuelo"><span>Estado de tu vuelo</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/vuelos-directos/" title="Vuelos Directos"><span>Vuelos Directos</span></a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/agencias/" title="Agencias de Viajes"><span>Agencias de Viajes</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="https://groups.volotea.com/index.php" title="Grupos" target="_blank"><span>Grupos</span></a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-xs-12 | col-md-3" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                        <ul class="v7-list-link">
                            <li class="v7-list-link__title">
                                <span itemprop="name subjectOf">TU RESERVA</span>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/check-in-online/" title="Check-in online">
                                    <span>Check-in online</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/" title="Gestionar tu reserva">
                                    <span>Gestionar tu reserva</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/reenviar-confirmacion/" title="Reenviar email de confirmación" target="">
                                    <span>Reenviar email de confirmación</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/asignar-asientos/" title="Seleccionar asientos">
                                    <span>Seleccionar asientos</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/anadir-equipaje/" title="Añadir equipaje" target="">
                                    <span>Añadir equipaje</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/embarque-prioritario/" title="Embarque prioritario" target="">
                                    <span>Embarque prioritario</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/cambiar-vuelos/" title="Cambiar vuelos" target="">
                                    <span>Cambiar vuelos</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/documentacion-para-el-vuelo/" title="Documentación para el vuelo" target="">
                                    <span>Documentación para el vuelo</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/asistencia-especial/" title="Asistencia especial" target="">
                                    <span>Asistencia especial</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="/es/tu-reserva/gestionar-factura/" title="Gestionar factura" target="">
                                    <span>Gestionar factura</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="https://hotels.volotea.com/?label=pagefooter-link-942942-click" title="Hoteles" target="_blank">
                                    <span>Hoteles</span>
                                </a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a href="https://coches.volotea.com/?adplat=servicestab&amp;adcamp=homepage&amp;preflang=es" title="Coches de alquiler" target="_blank">
                                    <span>Coches de alquiler</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-xs-12 | col-md-3">
                        <ul class="v7-list-link">
                            <li class="v7-list-link__title">
                                DESCUBRE
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/destinos/" title="Dónde volamos">Dónde volamos</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/nuestros-aviones/" title="Volar con Volotea">Volar con Volotea</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/megavolotea/" title="Megavolotea">Megavolotea</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/flex/" title="Flex">Flex</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/combo/" title="Combo">Combo</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/entretenimiento-a-bordo/" title="Entretenimiento a bordo">Entretenimiento a bordo</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/tu-reserva/catering-a-bordo/" title="Menú a bordo">Menú a bordo</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/best-price/" title="Mejor precio">Mejor precio</a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item">
                                <a href="https://volare.volotea.com/es/" title="Volare Magazine" target="_blank">Volare Magazine</a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item">
                                <a href="/es/movil/" title="Acceso móvil">Acceso móvil</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/registrate/" title="Newsletter" target="">Newsletter</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="col-xs-12 | col-md-3">
                        <ul class="v7-list-link">
                            <li class="v7-list-link__title">
                                VOLOTEA
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/sobre-volotea/" title="Sobre Volotea" target="">Sobre Volotea</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/10th-anniversary/" title="10 años volando juntos">10 años volando juntos</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/informacion/" title="Información antes de volar">Información antes de volar</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/muy-recomendada/" title="Vuestra opinión" target="">Vuestra opinión</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/familias/" title="Viajar en familias" target="_top">Viajar en familias</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/contacto/" title="Centro de ayuda">Centro de ayuda</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/sala-de-prensa/" title="Sala de prensa">Sala de prensa</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/responsabilidad-social-corporativa/" title="Responsabilidad Social Corporativa">Responsabilidad Social Corporativa</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/sostenibilidad/" title="Sostenibilidad">Sostenibilidad</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="https://jobs.volotea.com/" title="Trabaja con nosotros" target="_blank">Trabaja con nosotros</a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item">
                                <a href="/es/tarifas/" title="Tabla de tarifas">Tabla de tarifas</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/condiciones-legales/condiciones-de-transporte/" title="Condiciones de transporte">Condiciones de transporte</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/condiciones-legales/condiciones-de-uso/" title="Condiciones de uso">Condiciones de uso</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/condiciones-legales/politica-de-privacidad/" title="Política de privacidad">Política de privacidad</a>
                            </li>
                            <li class="v7-list-link__item">
                                <a href="/es/condiciones-legales/politica-de-cookies/" title="Política de cookies">Política de cookies</a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item">
                                <a href="/es/mapa-web/" title="Mapa del sitio">Mapa del sitio</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xs-12 | col-sm-5 | col-md-4 | col-lg-3">

                <div class="v7-rows || v7-footer__social">
                    <div class="v7-cosl-xs-12">


                        <ul class="v7-footer__social-list">

                            <li>
                                <a href="https://www.facebook.com/Volotea" target="_blank" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--facebook"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/volotea" target="_blank" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--twitter"></a>
                            </li>
                            <li>
                                <a href="http://www.instagram.com/volotea" target="_blank" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--instagram"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/volotea/" target="_blank" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--linkedin"></a>
                            </li>
                        </ul>
                        <a href="https://jobs.volotea.com" target="_blank" title="Trabaja con nosotros" class="v7-btn v7-btn--border v7-btn--block v7-btn--sm">Trabaja con nosotros</a>
                    </div>
                </div>

                <div class="v7-footer__app">
                    <p class="v7-body-content">Descarga Volotea App para iOS y Android</p>
                    <ul class="v7-flex || v7-u-mt-20">

                        <li class="">
                            <a href="https://itunes.apple.com/app/apple-store/id635331043?mt=8" target="_blank" rel="noopener">
                                <img src="https://static.volotea.com/assets/img/app/appstorebadgees-2x.png " alt="" title="">
                            </a>
                        </li>
                        <li class="v7-flex__right">
                            <a href="https://play.google.com/store/apps/details?id=com.volotea.droid&amp;utm_source=newsletter&amp;utm_campaign=V7Newsletters2019&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank" rel="noopener">
                                <img src="https://static.volotea.com/assets/img/app/googleplaybadgeeswhite-2x.png" alt="" title="">
                            </a>
                        </li>
                        <li class="v7-flex__right">
                            <a href="https://appgallery.huawei.com/#/app/C102463901" target="_blank" rel="noopener">
                                <img src="https://media.volotea.com/media/2410/app-huawei_white_es.png" alt="" title="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="v7-footer__badge v7-footer__badge--voloterra" style="border-top: 1px solid #57393a;padding: 30px 0;">
                    <img src="https://media.volotea.com/media/2746/wta_es_badge_22.png" alt="" style="width: 285px;">
                </div>

            </div>
        </div>
    </div>
    <i class="v7-footer__vichy">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-vichy-corner"></use>
        </svg>
    </i>
</footer>