<footer class="v7-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/" title="Homepage Volotea" class="v7-footer__logo">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-logo-text"></use>
                    </svg>
                </a>
            </div>

            <div class="v7-footer-links || col-xs-12 | col-sm-6 col-sm-right | col-md-7 | col-lg-8 col-lg-offset-1">
                <div class="row">
                    <nav class="col-xs-12 | col-md-3" itemscope="" itemtype="https://schema.org/Reservation">
                        <ul class="v7-list-link">
                            <li class="v7-list-link__title">
                                <span itemprop="name mainEntityOfPage">VUELOS</span>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/ofertas-vuelos/" rel="noopener noreferrer" title="Ofertas vuelos" target=""><span itemprop="name reservationFor">Ofertas vuelos</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/estado-de-tu-vuelo/" rel="noopener noreferrer" title="Estado de tu vuelo"><span itemprop="name reservationFor">Estado de tu vuelo</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/vuelos-directos/" rel="noopener noreferrer" title="Vuelos Directos"><span itemprop="name reservationFor">Vuelos Directos</span></a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/agencias/" rel="noopener noreferrer" title="Agencias de Viajes"><span itemprop="name reservationFor">Agencias de Viajes</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="https://groups.volotea.com/index.php" rel="noopener noreferrer" title="Grupos" target="_blank"><span itemprop="name reservationFor">Grupos</span></a>
                            </li>
                        </ul>
                        <ul class="v7-list-link">
                            <li class="v7-list-link__title">
                                <span itemprop="name subjectOf">TU RESERVA</span>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/check-in-online/" rel="noopener noreferrer" title="Check-in online"><span itemprop="name itemOffered subjectOf">Check-in online</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/" rel="noopener noreferrer" title="Gestionar tu reserva"><span itemprop="name itemOffered subjectOf">Gestionar tu reserva</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/reenviar-confirmacion/" rel="noopener noreferrer" title="Reenviar email de confirmación" target=""><span itemprop="name itemOffered subjectOf">Reenviar email de confirmación</span></a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/asignar-asientos/" rel="noopener noreferrer" title="Seleccionar asientos"><span itemprop="name itemOffered subjectOf">Seleccionar asientos</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/anadir-equipaje/" rel="noopener noreferrer" title="Añadir equipaje" target=""><span itemprop="name itemOffered subjectOf">Añadir equipaje</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/embarque-prioritario/" rel="noopener noreferrer" title="Embarque prioritario" target=""><span itemprop="name itemOffered subjectOf">Embarque prioritario</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/cambiar-vuelos/" rel="noopener noreferrer" title="Cambiar vuelos" target=""><span itemprop="name itemOffered subjectOf">Cambiar vuelos</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/documentacion-para-el-vuelo/" rel="noopener noreferrer" title="Documentación para el vuelo" target=""><span itemprop="name itemOffered subjectOf">Documentación para el vuelo</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/asistencia-especial/" rel="noopener noreferrer" title="Asistencia especial" target=""><span itemprop="name itemOffered subjectOf">Asistencia especial</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="/es/tu-reserva/gestionar-factura/" rel="noopener noreferrer" title="Gestionar factura" target=""><span itemprop="name itemOffered subjectOf">Gestionar factura</span></a>
                            </li>
                            <li class="v7-list-link__item v7-list-link__item--separator"></li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="https://hotels.volotea.com/?label=pagefooter-link-942942-click" rel="noopener noreferrer" title="Hoteles" target="_blank"><span itemprop="name itemOffered subjectOf">Hoteles</span></a>
                            </li>
                            <li class="v7-list-link__item" itemprop="url">
                                <a itemprop="url" href="https://coches.volotea.com/?adplat=servicestab&amp;adcamp=homepage&amp;preflang=es" rel="noopener noreferrer" title="Coches de alquiler" target="_blank"><span itemprop="name itemOffered subjectOf">Coches de alquiler</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xs-12 | col-sm-5 | col-md-4 | col-lg-3">

                <div class="v7-rows || v7-footer__social">
                    <div class="v7-cosl-xs-12">


                        <ul class="v7-footer__social-list">

                            <li>
                                <a href="https://www.facebook.com/Volotea" target="_blank" rel="noopener" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--facebook"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/volotea" target="_blank" rel="noopener" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--twitter"></a>
                            </li>
                            <li>
                                <a href="http://www.instagram.com/volotea" target="_blank" rel="noopener" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--instagram"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/volotea/" target="_blank" rel="noopener" title="" class="v7-btn-circle v7-btn-circle--md v7-btn-circle--brand || v7-i v7-i--linkedin"></a>
                            </li>
                        </ul>
                        <a href="https://jobs.volotea.com" rel="noopener" target="_blank" title="Trabaja con nosotros" class="v7-btn v7-btn--border v7-btn--block v7-btn--sm">Trabaja con nosotros</a>
                    </div>
                </div>

                <div class="v7-footer__app">
                    <p class="v7-body-content">Descarga Volotea App para iOS y Android</p>
                    <ul class="v7-flex || v7-u-mt-20">

                        <li class="">
                            <a href="https://itunes.apple.com/app/apple-store/id635331043?mt=8" target="_blank" rel="noopener">
                                <img src="https://static.volotea.com/assets/img/app/appstorebadgees-2x.png " alt="" title="">
                            </a>
                        </li>
                        <li class="v7-flex__right">
                            <a href="https://play.google.com/store/apps/details?id=com.volotea.droid&amp;utm_source=newsletter&amp;utm_campaign=V7Newsletters2019&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank" rel="noopener">
                                <img src="https://static.volotea.com/assets/img/app/googleplaybadgeeswhite-2x.png" alt="" title="">
                            </a>
                        </li>
                        <li class="v7-flex__right">
                            <a href="https://appgallery.huawei.com/#/app/C102463901" target="_blank" rel="noopener">
                                <img src="https://media.volotea.com/media/2410/app-huawei_white_es.png" alt="" title="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="v7-footer__badge v7-footer__badge--voloterra" style="border-top: 1px solid #57393a;padding: 30px 0;">
                    <img src="https://media.volotea.com/media/2746/wta_es_badge_22.png" alt="" style="width: 285px;">
                </div>

            </div>
        </div>
    </div>
    <i class="v7-footer__vichy">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-vichy-corner"></use>
        </svg>
    </i>
</footer>